@import 'jeet'
@import 'typographic'
@import 'client/styles/*.import'

typographic()

@import s(basePath, main)
// @import s(basePath, animate)
// @import s(basePath, links)

t-headers(futura)

body, p
  font-size 10px
  +above('small')
    font-size @font-size + 1
  +above('medium')
    font-size @font-size + 2
  +above('desktop')
    font-size @font-size + 4
  +above('hd')
    font-size @font-size + 6

article
  center(maxSize)
  padding 0 1em
