@import 'jeet'
@import 'typographic'
@import 'client/styles/*.import'

typographic()

// Fonts for Typographic
fontSize()
  font-size 11px
  above
    font-size @font-size + 1
  above
    font-size @font-size + 2
  above
    font-size @font-size + 3
  above
    font-size @font-size + 4

// Default transition values
defaultTransitionValue = .3s ease-out

@import s(basePath, main)
@import s(basePath, animate)
@import s(basePath, links)

body
  center(maxSize)
  margin 0 1em
