article(data-role='home')
  h1 Fullscreen graph
  p Press 'f' for fullscreen, 'r' for randomizing the Voronoï graph.
  button.small(data-role='fullscreen')
    i.fa.fa-expand.fa-2x
    span Fullscreen
  button.small(data-role='random')
    i.fa.fa-random.fa-2x
    span Random
  figure
    .svg-content
