@import 'client/styles/*.import'
@import s(basePath, buttonSmall)

// Class to add on SVG when set within any SVG container
figure
  display inline-block
  absolute top left
  height 100%

// Container for responsive SVG
// Mixin for creating SVG container with specific aspect ratio
svgContainer(aspectRatio)
  display inline-block
  position relative
  width 100%
  vertical-align middle
  overflow hidden
  //padding-bottom aspectRatio

article[data-role='home']
  cpButtonSmall(brandColor)
  cpButtonSmallBoris(brandColor)
  // This container targets 1:1 SVG
  figure
    margin 0
    svgContainer(100%)
    // background blue
  .tip
    bgTip = rgba(lighten(brandColor, 60%), 80%)
    outlineTip = darken(brandColor, 30%)
    fixed top left
    pointer-events none
    transition transform .3s ease-in-out
    span
      border 1px solid outlineTip
      border-top-left-radius roundCorner
      border-top-right-radius @border-top-left-radius
      background bgTip
      color textColor
      padding .5em 1em
      display inline-block
      transform-origin 50% 100%
      transform scale3d(1,0,1)
      transition transform .1s ease-in
    .arrow
      transform scale3d(0,1,1)
      transition transform .1s .2s ease-out
      border 1px solid outlineTip
      size 100% 6px
      background outlineTip
      relative top left
      &:before
        content ''
        absolute top 100% left 50%
        border solid transparent
        size 0
        pointer-events none
        border-color transparent
        border-top-color outlineTip
        border-width 10px
        margin-left -(@border-width)
    &.show
      span, .arrow
        transform none
      span
        transition transform .1s .2s ease-out
      .arrow
        transition transform .2s ease-in

  .svg-content
    &:fullscreen
      size 100%
      background bgColor
    // background red
  svg
    //background yellow
    background brandColor
    path, line, rect
      fill brandColor
      stroke rgba(textColor, 30%)
      stroke-width .1
    circle
      pointer-events none
      fill bgColor
      stroke none
    path
      transition fill .3s ease-in-out
    path.selected
      fill lighten(brandColor, 40%)
    path.neighbour
      fill lighten(brandColor, 20%)
